{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MovieMatch - Sobre Nós</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&family=Sail&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>
  
  <!-- BARRA DE NAVEGAÇÃO -->
  
  <div class="navbar">
    <div class="logo-and-title">
      <img src="{% static '/images/Logo.png' %}" class="logo-img">
      <h1 class="Titulo-logo"><i>MovieMatch</i></h1>
    </div>
    <div class="textshadow">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="movies">Filmes</a></li>
        <li><a href="amigos">Amigos</a></li>
        <li><a href="profile">Meu Perfil</a></li>
        <li><a href="" class="current-page">Sobre Nós</a></li>
      </ul>
    </div>
  </div>
  <hr class="topdivider">

  <div class="mainbody">
    <div style="display: flex; flex-direction:column ;margin:0px 201px 0px 201px;text-align:justify" class="about-us">
      <h2><b>Sobre Nós</b></h2>
      <h3>
        &nbsp&nbsp&nbsp&nbsp&nbspMomentos de risada, de tensão, de reflexão, por essas emoções vividas frequentemente ao assistir um filme que buscamos desenvolver  quem somos. O foco primordial da MovieMatch é conectar, criar vínculos, e proporcionar momentos de lazer inesquecíveis  com os melhores filmes escolhidos especialmente para você.
      Encontrar novos amigos com gostos semelhantes  nunca foi tão fácil. Agora, no MovieMatch, após realizar um curto teste de personalidade, será possível lhe apresentar os melhores filmes e conectá-lo com  novos amigos. 
      A MovieMatch possui um catálogo com milhares de filmes e séries, para que possamos recomendar  o filme ideal para o seu fim de semana com os amigos que você irá fazer aqui. </h3>
      <h2><b> Quem somos</b></h2>
     <h3>&nbsp&nbsp&nbsp&nbsp&nbspSomos nada mais que jovens apaixonados por filmes, com a visão de trazer o cinema para a vida das pessoas, pois acreditamos  que o filme é uma das ferramentas mais poderosas de conectar pessoas através de um hobby  em comum. </h3>
        
       <h2><b>Contatos:</b></h2>
      <h3>Caso deseje entrar em contato com a equipe:</h3>
        <h3>exemplo@gmail.com</h3
      

    </div>
  </div>
</body>