{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MovieMatch - Amigos</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&family=Sail&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static '/style.css' %}">
  <link rel="stylesheet" href="{% static '/amigos.css' %}">
</head>

  <!-- BARRA DE NAVEGAÇÃO -->

  <div class="navbar">
    <div class="logo-and-title">
      <img src="{% static '/images/Logo.png' %}" class="logo-img">
      <h1 class="Titulo-logo"><i>MovieMatch</i></h1>
    </div>
    <div class="textshadow">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="movies">Filmes</a></li>
        <li><a href="" class="current-page">Amigos</a></li>
        <li><a href="profile">Meu Perfil</a></li>
        <li><a href="sobre-nos">Sobre Nós</a></li>
      </ul>
    </div>
  </div>
  <hr class="topdivider">

 
  <div class="mainbody">
    <div style="display: flex; flex-direction:column ;margin:0px 201px 0px 201px";>
      <h2><b>Amigos</b></h2>
      <h4 style=text-align:left>
        Principais recomendações de perfis para @{{request.user.username}}
      </h4>

      </head>

<!---incluir algoritmo dos amigos e entender pq o css do amigosgallery n ta funcionando --->
          
<div class="amigosgallery" style="display: flex;">
  {% if amigos_data %}
    {% for data in amigos_data %}
    <div style="text-align: center;">
    <img src="{{ data.amigo.pic.url }}">
        <div>
        <h4>@{{ data.amigo.name }}</h4>
        <p><b>Gênero Favorito: </b>{{ data.amigo.generofav }}</p>
        <p><b>Bio: </b>{{ data.amigo.bio }}</p>
        </div>
    </div>
    {% endfor %}
  {% else %}
  <p><b>QUE SILÊNCIO...</b>  Ainda não há outros usuários com gostos iguais aos seus!</p>
  {% endif %}
</div>


  </div>
  </div>

</body>
  </html>

    