{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MovieMatch</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&family=Sail&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>
  {% if request.user.is_authenticated %}
    <b>Bem-vindo, {{request.user.username}}</b> <br> 
    <a href="/users/logout">Sair</a>
  {% endif %}
  <!-- BARRA DE NAVEGAÇÃO -->
  
  <div class="navbar">
    <div class="logo-and-title">
      <img src="{% static '/images/Logo.png' %}" class="logo-img">
      <h1 class="Titulo-logo"><i>MovieMatch</i></h1>
    </div>
    <div class="textshadow">
      <ul>
        
        <!-- ELEMENTO <a> QUE APONTA PARA O QUIZ DE GENERO FAV. -->
        <li><a href="quiz-genero-fav">QUIZ</a></li>
        <!-- TEMPORARIO! -->
        
        <li><a href="" class="current-page">Home</a></li>
        <li><a href="movies">Filmes</a></li>
        <li><a href="amigos">Amigos</a></li>
        <li><a href="profile">Meu Perfil</a></li>
        <li><a href="sobre-nos">Sobre Nós</a></li>
      </ul>
    </div>
  </div>
  <hr class="topdivider">

  <!-- CORPO PRINCIPAL -->
  
  <div class="mainbody">
    <div class="first-section">
      <img src="https://png.pngtree.com/png-clipart/20221123/ourmid/pngtree-line-drawing-cinema-audience-watching-movie-png-image_6167652.png">
      <div class="middletext">
        <h2>Conecte-se pelo seu gosto por cinema!</h2>
        <p>
          Você quer assistir algo, mas não sabe o que assistir? Ou tem, mas não gosta de assistir algo novo sozinho? O site <i>MovieMatch</i> te proporciona a oportunidade de se conectar com pessoas com gostos de filmes parecidos com o seu! Ao fazer nosso teste de personalidade, nosso algoritmo consegue conhecer seus gostos, filmes favoritos, e te recomendar filmes que podem virar seu novo filme favorito. É só se inscrever!
          </p>
      </div>
    </div>
    <hr>
    <!-- AQUI COMEÇA A SEGUNDA SEÇÃO -->
    
    <div>
      <div class="second-section-title">
        <h2>Na telona, hoje!</h2>
      </div>
      <div class="second-section-subtitle">
        <p><b>Filmes lançados nos últimos 12 meses aclamados pela crítica que achamos que você vai gostar.</b>
          Procure exibições no seu cinema local e chame seus amigos para assistir estas mais novas recomendações personalizadas para você.
          Não perca a oportunidade de assisti-los enquanto ainda estão em cartaz!
          </p>
      </div>

      <!-- filmes -->
      <div class="moviegallery">

        {% for movie in Filmes %}
        <div>
          <img src="{{ movie.poster.url }}">
          <h3>{{ movie.name }}</h3>
          <p><b>Diretor: </b>{{ movie.director }}</p>
          <p><b>Gênero: </b>{{ movie.genre }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <hr>
  </div>
</body>

</html>