{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MovieMatch</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&family=Sail&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>

  <!-- BARRA DE NAVEGAÇÃO -->

  <div class="navbar">
    <div class="logo-and-title">
      <img src="{% static '/images/Logo.png' %}" class="logo-img">
      <h1 class="Titulo-logo"><i>MovieMatch</i></h1>
    </div>
    <div class="textshadow">
      <ul>
        <li><a href="users/login">Login</a></li>
        <li><a href="users/register">Sign up</a></li>
      </ul>
    </div>
  </div>
  <hr class="topdivider">
   <!-- CORPO PRINCIPAL -->
  <div class="mainbody">
  
  
    <div style="display: flex; flex-direction:column ;margin:0px 201px 0px 201px;text-align:justify" class="first-section">
      <p>Bem-vindo ao MovieMatch, o seu destino cinematográfico! Explore uma vasta coleção de filmes, descubra novidades, e encontre as melhores recomendações para a sua próxima sessão de cinema. Faça parte da nossa comunidade, compartilhe suas avaliações e conecte-se com amantes do cinema de todo o mundo. MovieMatch, onde a magia do cinema encontra a sua paixão.</p>
    </div>
  </section>
  </div>
  <footer>
  <p>© 2023 MovieMatch. Todos os direitos reservados.</p>
  </footer>
  
</body>
</html>




