{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MovieMatch - Filmes</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&family=Sail&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>

  <!-- BARRA DE NAVEGAÇÃO -->

  <div class="navbar">
    <div class="logo-and-title">
      <img src="{% static '/images/Logo.png' %}" class="logo-img">
      <h1 class="Titulo-logo"><i>MovieMatch</i></h1>
    </div>
    <div class="textshadow">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="" class="current-page">Filmes</a></li>
        <li><a href="/series">Séries</a></li>
        <li><a href="/profile">Meu Perfil</a></li>
        <li><a href="/sobre-nos">Sobre Nós</a></li>
      </ul>
    </div>
  </div>
  <hr class="topdivider">

  <div class="mainbody">
    <div style="display: flex; flex-direction:column ;margin:0px 201px 0px 201px;text-align:justify" class="about-us">
      <h2><b>Filmes</b></h2>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices ex purus, eget accumsan odio mollis non. Suspendisse suscipit imperdiet dui, eu pharetra ligula aliquam eu. Mauris suscipit magna sit amet mi porta consequat. Mauris euismod odio quam, in facilisis ante elementum non. Cras urna enim, hendrerit et cursus vel, condimentum quis odio. Donec euismod purus non massa rutrum, in imperdiet est porta. Etiam vitae dignissim velit. Maecenas interdum iaculis neque, eget pellentesque arcu vestibulum ac. Fusce nec pellentesque mauris, in feugiat arcu. Pellentesque sodales in orci eu sodales. Duis accumsan velit nibh, in bibendum est malesuada at. Curabitur placerat sem quis lectus egestas vulputate. Sed bibendum, felis at auctor tincidunt, ante massa feugiat magna, pellentesque lacinia nisi ex non metus.
      </h3>