{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MovieMatch - Filmes</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&family=Sail&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>

  <!-- BARRA DE NAVEGAÇÃO -->

  <div class="navbar">
    <div class="logo-and-title">
      <img src="{% static '/images/Logo.png' %}" class="logo-img">
      <h1 class="Titulo-logo"><i>MovieMatch</i></h1>
    </div>
    <div class="textshadow">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="" class="current-page">Filmes</a></li>
        <li><a href="amigos">Amigos</a></li>
        <li><a href="profile">Meu Perfil</a></li>
        <li><a href="sobre-nos">Sobre Nós</a></li>
      </ul>
    </div>
  </div>

  <hr class="topdivider">

  <div class="mainbody">
    <div style="display: flex; flex-direction:column ;margin:0px 201px 0px 201px; class="about-us">
      <h2><b>Filmes</b></h2>
      <h3 style=color:black>
        Principais recomendações de filmes para @{{request.user.username}}
      </h3>
        <div class="moviegallery" style=align-items:center>
        {% for movie in Filmes %}
        <div>
          {% if movie.poster %}
          <div>
            <h4 style=text-align:center>{{ movie.title }}</h4>
          </div>
          <img src="{{movie.poster.url}}">
          <p><b>Diretor: </b>{{ movie.director }}</p>
          <p><b>Gênero: </b>{{ movie.genre }}</p>
          {% else %}
          <h5>{{ movie.id }}</h5>
          {% endif %}
        </div>
        {% endfor %}
         
        </div>
      </div>
      
      <hr>

  <div style="display: flex; flex-direction:column ;margin:0px 201px 0px 201px; class="about-us">
    <div>
        <h3 style=color:black>
          Recomendações de filmes de {{ UserFav }} para @{{request.user.username}}
        </h3>
    </div>
            <div class="moviegallery">
            {% for movie in Filmes2 %}
            <div>
              {% if movie.poster %}
              <div>
                <h4 style=text-align:center>{{ movie.title }}</h4>
              </div>
              <img src="{{movie.poster.url}}">
              <p><b>Diretor: </b>{{ movie.director }}</p>
              <p><b>Gênero: </b>{{ movie.genre }}</p>
              {% else %}
              <h5>{{ movie.id }}</h5>
              {% endif %}
            </div>
            {% endfor %}

            </div>
          </div>
        </div>
  </div>