{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MovieMatch - Perfil</title>

  <script>
    function redirectToEdit() {
      window.location.href = 'profile/editprofile';
    }
  </script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&family=Sail&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static '/style.css' %}">
  <link rel="stylesheet" href="{% static '/profile.css' %}">
</head>

<body>

  <!-- BARRA DE NAVEGAÇÃO -->

  <div class="navbar">
    <div class="logo-and-title">
      <img src="{% static '/images/Logo.png' %}" class="logo-img">
      <h1 class="Titulo-logo"><i>MovieMatch</i></h1>
    </div>
    <div class="textshadow">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="movies">Filmes</a></li>
        <li><a href="amigos">Amigos</a></li>
        <li><a href="" class="current-page">Meu Perfil</a></li>
        <li><a href="sobre-nos">Sobre Nós</a></li>
      </ul>
    </div>
  </div>
  <hr class="topdivider">

  <!-- CORPO -->
  
  <div class="mainbody">
    <div style="display: flex; flex-direction:column ;margin:0px 201px 0px 201px">

      <div class="profile-pic">
        <img src= "{{ Pfpic.url }}" style="border-radius:50%">
      </div>
      
      <div>
        <h4 style="color: #6247aa; font-weight: bold;
          margin-bottom:0px">
          @{{request.user.username}}
        </h4>
      </div>
    
        <p>{{ Bio }} </p>
      
      <table style=text-align:center;>
        <tr>
          <th>Seguindo</th>
          <th>Seguidores</th>
          <th>Gênero Favorito</th>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>{{ GeneroFav }}</td>
        </tr>
      </table>
      <button type=button onclick="redirectToEdit()">EDITAR PERFIL</button>
      <h4>
        <a href="/users/logout">Sair</a>
      </h4>

    <h4 style=color:black>
      Filmes que {{request.user.username}} gostou
    </h4>

      <div class="moviegallery">

      {% for movie in Filmes %}
      <div style="text-align: center;">
        <img src="{{ movie.poster.url }}">
        <h3>{{ movie.name }}</h3>
        <p><b>Estreia: </b>{{ movie.releaseDate }}</p>
        <p><b>Diretor: </b>{{ movie.director }}</p>
        <p><b>Gênero: </b>{{ movie.genre }}</p>
      </div>
      {% endfor %}
      </div>
    </div>