html {
  height: 100%;
  width: 100%;
}

body {
  background-color:#8B8BAE;
  color: #8B8BAE;
}

h1 {
  padding: 0;
  font-size: 45px;
}

h2 {
  text-align: center;
  font-size: 35px;
}

li {
  float: left;
  border-right: 1px solid black:
}

li a{
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover:not(.current-page) {
  background-color: #313136;
  border-radius: 10%;
}

ul {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  overflow: hidden;
}

p {
  text-align: justify;
}

hr.topdivider {
  border-top: 3px solid black;
  margin: 5px;
}

.logo-img {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: auto;
  height: 100px;
  top: 5px;
  padding: 3px;
  margin-right: 10px;
  margin-left: 10px;
}

.Titulo-logo{
  font-family: 'Sail', cursive;
}

.navbar {
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -->background: rgb(23, 8, 250);
  background: linear-gradient(0deg, rgba(23, 8, 250, 1) 0%, rgba(14, 197, 250, 1) 50%, rgba(59, 219, 251, 1) 100%);
  background: #E78F8E;
}

.textshadow {
  text-shadow: 1px 1px 1px black;
}

.current-page {
  background-color: #8B8BAE;
  border-radius: 10%;
}

.logo-and-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.first-section img {
  width: 500px;
  height: auto;
  border-radius: 50%;
}

.middletext {
  width: 350px;
  text-align: justify;
}

.mainbody {
  font-family: 'Mooli', sans-serif;
  background: rgb(242, 252, 255);
  /* background: linear-gradient(0deg, rgba(242, 252, 255, 1) 0%, rgba(0, 218, 223, 0.4429972672662815) 100%); */
  background: #ECE2D0;
}

.second-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mainbody hr {
  border-top: 1px dotted black;
}

.left-text {
  width: 300px;
  padding: 30px;
}

.moviegallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.moviegallery p {
  text-align: center;
}

.moviegallery h3 {
  text-align: center;
}

.moviegallery img {
  padding: 15px;
  width: 300px;
  height: auto;
  border-radius: 10%;
}

.about-us {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us h2 {
  margin-top: 0;
  padding: 10px 10px;
}